<div class="historias">
    <% for(let i = 0; i < 8; i++) { %>
        <div class="historia">
            <img class="img_historia" src="https://romanroadtrust.co.uk/wp-content/uploads/2018/01/profile-icon-png-898-300x300.png">
            <p class="user_historia">sefasf02</p>
        </div>
    <% } %>
</div>