<%- include('includes/head.ejs') %>

<h1 class="title">Registrar nuevo perro</h1>

<form action="/perros/nuevo" method="POST">

    <label for="nombre">Nombre:</label>
    <input required name="nombre" id="nombre" class="input is-rounded" type="text" placeholder="Firulais">
    <br><br>
    <label for="raza">Raza:</label>
    <input name="raza" id="raza" class="input is-rounded" type="text" placeholder="Firulais">
    <br><br>
    <label for="descripcion">Descripcion:</label>
    <input name="descripcion" id="descripcion" class="input is-rounded" type="text" placeholder="Firulais">
    <br><br>
    <input class="button is-rounded is-success" type="submit" value="Registrar">

</form>

<%- include('includes/foot.ejs') %>
