<%- include('includes/head.ejs') %>

<h1 class="title">Registrar nuevo perro</h1>

<form action="/usuarios/signup" method="POST">

    <label for="nombre">Nombre:</label>
    <input required name="nombre" id="nombre" class="input is-rounded" type="text" placeholder="Sebastian">
    <br><br>
    <label for="username">Username:</label>
    <input name="username" id="username" class="input is-rounded" type="text" placeholder="seb.flores02">
    <br><br>
    <label for="password">Password:</label>
    <input name="password" id="password" class="input is-rounded"password" placeholder="Firulais">
    <br><br>
    <input class="button is-rounded is-success" type="submit" value="Registrar">

</form>

<%- include('includes/foot.ejs') %>
