<div class="menu">
    <div class="menu_header">
        <img class="imagen_icono mobile" src="/images/icons/instagramIcon.png">
        <img class="imagen_icono logo" src="https://www.pngkey.com/png/full/828-8286178_mackeys-work-needs-no-elaborate-presentation-or-distracting.png">
    </div>
    <div class="menu_mid">
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/instagramIcon.png">
            <h3 class="titulo_menu">Home</h3>
        </div>
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/search.png">
            <h3 class="titulo_menu">Search</h3>
        </div>
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/explore.png">
            <h3 class="titulo_menu">Explore</h3>
        </div>
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/reels.png">
            <h3 class="titulo_menu">Reels</h3>
        </div>
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/messages.png">
            <h3 class="titulo_menu">Messages</h3>
        </div>
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/heart.png">
            <h3 class="titulo_menu">Notifications</h3>
        </div>
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/create.png">
            <h3 class="titulo_menu">Create</h3>
        </div>
        <div class="seccion">
            <img class="imagen_icono" src="https://romanroadtrust.co.uk/wp-content/uploads/2018/01/profile-icon-png-898-300x300.png">
            <h3 class="titulo_menu">Create</h3>
        </div>

    </div>
    <div class="menu_footer">
        <div class="seccion">
            <img class="imagen_icono" src="/images/icons/menu.png">
            <h3 class="titulo_menu">More</h3>
        </div>
    </div>
</div>